<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="resultsMod">
      <div class="result-heading">This is my favorite drink:</div>
      <div class="results"><%= data.toUpperCase() + "!" %></div>
      <div class="back-btn"><a href="/">Back</a></div>
    </div>
  </body>
</html>
